<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="APIServerDEV" value="http://alcatraz.drivermadness.net/" />
    <add key="APIServer" value="http://alcatraz.drivermadness.net/" />
  </appSettings>
</configuration>