<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ServiceUrlDEV" value="localhost:33000" />
    <add key="ConfigKeyDEV" value="23ad683803a0457cabce83f905811dbc" />
    <add key="SandboxAccessKeyDEV" value="8dtRv2oj" />
    
    <add key="ServiceUrl" value="alcatraz.drivermadness.net" />
    <add key="ConfigKey" value="23ad683803a0457cabce83f905811dbc" />
    <add key="SandboxAccessKey" value="8dtRv2oj" />
  </appSettings>
</configuration>