<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ServiceUrlDEV" value="localhost:33000" />
    <add key="ConfigKeyDEV" value="885642bfde8842b79bbcf2c1f8102403" />
    <add key="SandboxAccessKeyDEV" value="w6kAtr3T" />
    
    <add key="ServiceUrl" value="alcatraz.drivermadness.net" />
    <add key="ConfigKey" value="885642bfde8842b79bbcf2c1f8102403" />
    <add key="SandboxAccessKey" value="w6kAtr3T" />
  </appSettings>
</configuration>