@page
@model Alcatraz.GameServices.Pages.IndexModel
@{

}

<h2>Welcome to Alcatraz!</h2>

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                What is Alcatraz?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <markdown>This is a custom **Driver San Francisco** server hosted on **Driver Madness**.</markdown>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                How to use it?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                <markdown>
[Download client](https://github.com/ReHamster/Alcatraz/releases), simply unpack anywhere and launch **AlcatrazLauncher**.

Follow the instructions as it prompts you.

- You will need to **Register** new account if you new to Alcatraz.
- In case if you already have account - **Sign in to Alcatraz** with your credentials.
                </markdown>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingConsoles">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseConsoles" aria-expanded="false" aria-controls="panelsStayOpen-collapseConsoles">
                What version of Driver San Francisco is supported? Can it be used on Xbox 360 and Playstation 3 versions?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseConsoles" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingConsoles">
            <div class="accordion-body">
                <markdown>Alcatraz for now only supports latest **Driver San Francisco 1.04.1114** for **PC** (version found in top left corner in main menu).</markdown>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Do I need Ubisoft account?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
                <markdown>
**No.** 

Although it's not required, you still can add your Ubisoft account in launcher and play on official server (works same as current *UPlayEmulator*).</markdown>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                I cannot connect to other players. What I can do about it?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
            <div class="accordion-body">
                <markdown>
You have to forward UDP port **3074** on your router (please Google ***how fo forward port on [your router model name]***). 

If you planning to play with friends, make sure they also have performed this operation as well.</markdown>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Where I can report server and launcher bugs?
            </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
            <div class="accordion-body">
                <markdown>Please report them on [issue tracker here](https://github.com/ReHamster/Alcatraz/issues).</markdown>
            </div>
        </div>
    </div>
</div>
