@page
@model Alcatraz.GameServices.Pages.PortUsageModel
@{
    ViewBag.Title = "UDP ports";
}

<h4>Currently required UDP ports to forward</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">UDP port</th>
            <th scope="col">Users</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var port in Model.UsageList)
		{
        <tr>
            <td>@port.Port</td>
            <td>@string.Join(", ", port.Users)</td>
        </tr>
		}

    </tbody>
</table>